<html>
<head>
<meta charset="utf-8">
<title> balabala</title>
</head>
<body>
        <input id="shuru" value="7F11D4E784010101015707070707AAB8C0FF3A48" style="width:50%;margin-left: 25%;height:100px;">
        <button onclick="xianshi()">ok</button>
        <div id="q123">
        </div>
</body>

<script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script>
    function xianshi(){
        document.body.removeChild(document.getElementById("q123"))
        var hhh=document.createElement("div");
        hhh.id="q123"
        document.body.appendChild(hhh)
        var a=$("#shuru").val();
        $.get("/test1",{'shuru':a}, function(result){
            var name=["帧起始符", "帧长度","控制码", "多级地址管理", "地址", "帧序号", "数据标识", "数据","帧校验"]
            for(i=0;i<result.d.length;i++)
            {
                var f = document.createElement("div");
                f.id="jieguo"
                f.style="width:50%;margin: 0 auto;margin-top:20px;background: rgba(72,209,204,0.3);overflow:hidden"
                document.getElementById("q123").appendChild(f);
                var b= document.createTextNode(result.d[i][0]);
                var b1=document.createElement("div");
                document.getElementById("jieguo").appendChild(b1)
                b1.appendChild(b)
                if(result.d[i][1][7].slice(0,5)==100)
                {
                    alert("手动报警！")
                }
                else if(result.d[i][1][7].slice(0,5)==4001)
                {
                    alert("感温报警！")
                }
                else if(result.d[i][1][7].slice(0,5)==4002)
                {
                    alert("感烟报警！")
                }
                for(j=0;j<name.length;j++){
                    var c= document.createTextNode(name[j]);
                    var c1=document.createElement("div");
                    document.getElementById("jieguo").appendChild(c1)
                    c1.appendChild(c)
                    var d= document.createTextNode(result.d[i][1][j]);
                    var d1=document.createElement("div");
                    document.getElementById("jieguo").appendChild(d1)
                    d1.appendChild(d)
                }
                
            }
        })
    }
</script>
</html>

